.footer{
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
}

.footer_copyright{
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    margin: 0;   
}

  
@media screen and (max-width: 544px) {
    .footer_copyright{
        line-height: 14px;
    }
}
  